// variables - colors

$color-primary: #08A6E4;
$color-primary-shadow: #07ACE629;
$color-red-accent: #FB3B64;
$color-green-accent: #55DFB4;
$color-blue-accent: #07ACE6;
$color-box-shadow: #00000029;
$color-black: #000000;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;
$color-white: #FFFFFF;
$color-form-borders: #95989A;
$color-form-consent: #707070;